@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-50 text-gray-900;
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    font-weight: 700;
  }
}

@keyframes ticker {
  0%   { transform: translateX(100%); }
  100% { transform: translateX(-100%); }
}
